<!doctype html>
<html lang="en">
  <head>
  	<title>Contact Form 10</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="css/style1.css">

	</head>
	<body>
	<section class="ftco-section img bg-hero" style="background-image: url(images/bg_1.jpg);">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Search Student</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-11">
							<div >
								<div class="contact-wrap w-100 p-md-5 p-4">
									<h3 class="mb-4">Enter Student ID To Search</h3>
									<div id="form-message-warning" class="mb-4"></div> 
				      		<div id="form-message-success" class="mb-4">
				            Your message was sent, thank you!
				      		</div>
									<form  action="/search" id="contactForm" name="contactForm">
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<input id="alpha" type="text" pattern="[a-zA-Z0-9]+" required class="form-control" name="Student_id" id="Student_id" placeholder="Student ID">
												</div>
											</div>
											
											<div class="col-md-12 ">
												<div class="form-group">
													<input type="submit" value="Search" class="btn btn-primary">
													<button  class="btn btn-primary" onclick="window.location.href='./';" >
														Home
													  </button>													
													  <div class="Result">{{stu_id}}</div>
													
													
												</div>
											</div>
											<tab
											
										</div>
									</form>
									
									
								</div>
								
								{{#if found}}
								<div class="table1">
									<table>
										<tr>
										<th>Student ID</th>
										<th>Name</th>
										<th>Email</th>
										<th>Brach</th>
										<th>Gender</th>
										</tr>
										<tr>
											<td>{{id}}</td>
											<td>{{nam}}</td>
											<td>{{email}}</td>
											<td>{{Branch}}</td>
											<td>{{gender}}</td>
										</tr>
										
									</table>
								<div>
									{{else}}
										<h5>Result Display Here</h5>
									
							{{/if}}

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>

	<script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.validate.min.js"></script>
  <script src="js/main.js"></script>
	</body>
</html>

